# Dépendances
node_modules/
.pnpm-store/

# Build
build/
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environnement
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Rapport d'analyse
report.html