/**
 * Animations pour le composant Flash
 */
@keyframes masquer {
    from {
        width: 0;
    }
    to {
        width: calc(100% + 3px);
        border: none;
    }
}

.texte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: justify;
}

.mot > span {
    position: relative;
}

.masque {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-right: 0.05em solid black;
    height: 100%;
    animation: masquer linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: #fff;
}
